.mainTitle {
    padding: 8vh 0 0 0;
    text-align: center;
    color: var(--h1-color);
}

.mainTitle>h1 {
    font-size: 2.813rem;
}


/* Market Data */

.marketData {
    display: flex;
    max-width: 76rem;
    width: 100%;
    margin: 0px auto 20px auto;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px 0px;
}

.marketData>div:nth-child(1) {
    margin-left: 2%;
}

.marketData>div:nth-child(3) {
    margin-right: 2%;
}

.marketData>div {
    width: 21rem;
    padding: 5px 20px;
    border-radius: 20px;
}

.dataMarketData {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 15px 0;
    color: var(--h1-color);
}

.labelMaketData {
    color: var(--labels-coins);
    font-weight: 500;
    font-size: 1rem !important;
    margin: 15px 0 0 0;
}

.dataMarketDataDiv {
    display: flex;
    align-items: center;
}

.percentageMarketData {
    padding: 5px 10px 5px 10px;
    margin: 0;
    margin-left: 15px;
    border-radius: 10px;
    display: inline-block;
    font-size: 1rem;
}

/* 
 Lading market cap
.loadingMarketData>div {
    width: 21rem;
    padding: 5px 20px;
    border-radius: 20px;
    animation: skeleton-loading-marketdata .7s linear infinite alternate;
}

.loadingMarketData>div p {
    visibility: hidden;
}

@keyframes skeleton-loading-marketdata {
    0% {
        background-color: hsl(0, 5%, 5%);
    }

    100% {
        background-color: hsl(0, 5%, 15%);
    }
} */

/* Coins Tabs Section */
.coinsTabsSection {
    max-width: 78rem;
    width: 100%;
    margin: auto;
}

.coinsTabs {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: auto;
    margin-bottom: 25px;
}

.coinsMenu {
    display: flex;
    gap: 25px;
}

.coinsMenuItem {
    color: var(--menu-item);
    text-decoration: none;
    display: block;
    position: relative;
    transition: all ease .4s;
    font-weight: 600;
    margin: 10px 15px;
    cursor: pointer;
}

.coinsMenu :not(.active)::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--menu-item);
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.coinsMenu :not(.active):hover::before {
    background-color: var(--cyan);
    transform: scaleX(1.1);
}

.coinsMenu :not(.active):hover {
    color: var(--white);
}

.active {
    margin: 0px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--navBar-background);
}


.searchDiv {
    display: flex;
    align-items: center;
}

.searchDiv form {
    position: relative;
}


#searchCoin {
    background-color: transparent;
    border: 0px;
    font-size: 1.063rem;
    color: var(--white);
    outline: 0px;
    margin-left: 2px;
    position: absolute;
    width: 205px;
    height: 20px;

}

.searchCoinLabel {
    display: block;
    background-color: transparent;
    color: var(--menu-item);
    font-size: 1.063rem;
    transition: all ease .2s;
    font-weight: 600;
    width: 240px;
    height: 20px;
    cursor: pointer;
    padding-left: 5px;
}

.searchCoinLabel::after {
    content: 'Search';
    position: absolute;
    transform-origin: left;
    margin-top: 1px;
}

.searchCoinLabel::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background-color: var(--menu-item);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.searchIcon {
    position: absolute;
    background-image: var(--search-icon-src);
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    right: 0;
    top: 0;
    margin-top: -5px;
    margin-right: 8px;
    opacity: 0.8;
    transition: all ease .4s;
}

#searchCoin:hover+.searchDecoration .searchCoinLabel,
#searchCoin:focus+.searchDecoration .searchCoinLabel,
.searchHidden+.searchDecoration .searchCoinLabel {
    color: var(--white);
}

#searchCoin:hover+.searchDecoration .searchCoinLabel::before,
#searchCoin:focus+.searchDecoration .searchCoinLabel::before,
.searchHidden+.searchDecoration .searchCoinLabel::before {
    background-color: var(--white);
    transform: scaleX(1.02);
}

#searchCoin:hover+.searchDecoration .searchCoinLabel::after {
    font-weight: 600;

}

.searchHidden+.searchDecoration .searchCoinLabel::after {
    opacity: 0;

}

#searchCoin:hover+.searchDecoration .searchIcon,
#searchCoin:focus+.searchDecoration .searchIcon,
.searchHidden+.searchDecoration .searchIcon {
    opacity: 1;
    transform: scale(1.06);
}


/* Coins */

.coinsContainer {
    max-width: 78rem;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.coinsDiv {
    min-height: 10rem;
    background-color: var(--coins-div-background);
    box-shadow: 0px 0px 30px 0px var(--box-shadow-coins);
    border-radius: 20px;
    padding: 5px 0px;
    margin-top: 35px;
    width: 100%;
}

.coinsLabels {
    display: flex;
    text-align: left;
    justify-content: start !important;

}

tr {
    padding: 8px 0
}

thead th p {
    color: var(--labels-coins) !important;
    font-weight: normal !important;
    font-size: 0.875rem;
    margin: 5px 0 0 0;
    padding: 0 !important;
    cursor: pointer;
    transition: all ease .6s;

}

thead th p:hover {
    color: var(--white) !important;
}

thead th span {
    width: 12px;
    height: 16px;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 8px;
    background-image: var(--order-arrows);
    background-position: center center;
    position: absolute;
    margin-left: -15px;
    margin-top: 0px;
    transition: all ease .3s;
}

thead th p:hover>span {
    opacity: 0.5;
}

.symbolCoin {
    color: var(--labels-coins);
    font-weight: 500;
}

thead tr {
    margin: 0px 0 5px 0;
    transform: scale(1.004);
}

tbody tr {
    transform: scale(1.004);
    transition: all ease .3s;
}

tbody tr:hover {
    background-color: var(--hover-coin);
}

.coinRow {
    display: flex;
    cursor: pointer;
}

.coinNumberDiv {
    display: flex;
    justify-content: center;
    width: 10%;
    padding-left: 15px;
}

.coinNumberDiv p {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--menu-item);
}

.coinsNameDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coinsNameDiv {
    width: 30%;
}

.coinsNameDiv p {
    font-weight: bold;
    color: var(--white);
}

.coinsNameDiv img {
    width: 33px;
    height: 33px;
}

.change24Div,
.change1Div {
    width: 15%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.change1Div {
    width: 12%;
}

.change24Div p,
.change1Div p {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-radius: 10px;
    display: inline-block;
    /* font-size: 1rem; */
}


.priceDiv {
    text-align: right;
    width: 20%;
}

.priceDiv p {
    color: var(--white);
    font-weight: 600;
}

.marketCapDiv {
    padding-left: 30px;
    width: 15%;
    text-align: center;
    color: var(--menu-item);
}

.volume24Div {
    padding-right: 50px;
    width: 13%;
    text-align: right;
    color: var(--menu-item);
}


.noMatchesDiv {
    margin: 8rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

.noMatchesDiv:hover {
    background-color: var(--coins-div-background) !important;
}


/* Loading Icon */
.loadingIconDiv {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 40px;
}


/* Change Page */

.changePageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-bottom: 100px;
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.changePageNumbers {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.actualPage {
    color: var(--white);
    background-color: var(--cyan);
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.changePage {
    color: var(--labels-coins);
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    transition: all ease .3s;
}

.changePage:hover {
    color: var(--white);
    background-color: rgba(108, 108, 108, 0.105);
}

.nextPageDiv,
.prevPageDiv {
    opacity: 0.6;
    transition: all ease .3s;
}

.nextPageDiv a,
.prevPageDiv a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

.nextPageDiv:hover,
.prevPageDiv:hover {
    opacity: 1;
}

.nextPageDiv i,
.prevPageDiv i {
    width: 5px;
    margin: 0px 10px 2px 10px;
    height: 5px;
}

.treeDots {
    color: var(--labels-coins);
}


/* Resposive Desktop */

/* 1700px */

@media all and (max-width: 1700px) and (min-width: 740px) {
    .mainTitle>h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .marketData {
        max-width: 70rem;
        margin: 0px auto 10px auto;
    }

    .marketData>div {
        width: 19.5rem;
        padding: 0px 20px;
    }

    .dataMarketData {
        font-size: 1.29rem;
    }

    .labelMaketData {
        font-size: .9rem !important;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 70rem;
    }

    .searchIcon {
        background-size: 29px;
        width: 25px;
        height: 25px;
    }

    /* Coins */

    .coinsContainer {
        max-width: 72rem;
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
    }

    thead th p {
        font-size: 0.813rem;
    }

    thead th p:hover>span {
        opacity: 0.5;
    }

    .symbolCoin {
        font-size: 0.938rem;
    }

    tbody tr {
        font-size: 0.938rem;
    }

    .noMatchesDiv {
        margin: 7rem;
        font-size: 1.188rem;
    }

    /* Change Page */

    .changePageDiv {
        max-width: 65rem;
    }

    .changePageNumbers {
        gap: 14px;
    }

    .actualPage {
        padding: 9px;
    }

    .changePage {
        font-size: 0.938rem;
    }

    .nextPageDiv a,
    .prevPageDiv a {
        font-size: 0.938rem;
    }
}

/* 1500px */

@media all and (max-width: 1500px) and (min-width: 740px) {

    .mainTitle>h1 {
        font-size: 2.5rem;
    }

    .marketData {
        max-width: 62rem;
        margin: 0px auto 10px auto;
    }

    .marketData>div {
        width: 17rem;
    }

    .dataMarketData {
        font-size: 1.15rem;
    }

    .percentageMarketData {
        font-size: .90rem;
    }

    .labelMaketData {
        font-size: .8.5rem !important;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 62rem;
    }

    #searchCoin {
        font-size: 0.938rem;
    }

    .searchIcon {
        background-size: 25px;
    }

    .searchCoinLabel {
        font-size: 0.938rem;
    }

    .coinsMenuItem {
        font-size: 0.938rem;
    }

    /* Coins */

    .coinsContainer {
        max-width: 67rem;
        padding-bottom: 15px;
    }

    thead th p {
        font-size: 0.75rem;
    }

    .symbolCoin {
        font-size: 0.875rem;
    }

    tbody tr {
        font-size: 0.875rem;
    }

    .noMatchesDiv {
        margin: 6rem;
        font-size: 1.125rem;
    }

    /* Change Page */

    .changePageDiv {
        max-width: 60rem;
    }

    .changePageNumbers {
        gap: 11px;
    }

    .actualPage {
        padding: 8px;
    }

    .changePage {
        font-size: 0.813rem;
    }

    .nextPageDiv a,
    .prevPageDiv a {
        font-size: 0.813rem;
    }
}

/* 1300px */

@media all and (max-width: 1300px) and (min-width: 740px) {

    .mainTitle>h1 {
        font-size: 1.875rem;
        margin-bottom: 15px;
    }

    .marketData {
        max-width: 52rem;
        margin: 0px auto 4px auto;
    }

    .marketData>div {
        width: 15rem;
        padding: 3px 10px;
    }

    .dataMarketData {
        font-size: 1rem;
        margin: 13px 0;
    }

    .percentageMarketData {
        font-size: .75rem;
        margin-left: 10px;
    }

    .labelMaketData {
        margin-top: 10px;
        margin-left: 3px;
        font-size: .8rem !important;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 52rem;
    }

    #searchCoin {
        font-size: 0.875rem;
    }

    .searchIcon {
        background-size: 22px;
    }

    .searchCoinLabel {
        font-size: 0.875rem;
    }

    .coinsMenuItem {
        font-size: 0.813rem;
        margin: 8px 15px;
    }

    .active {
        margin: 0px;
        padding: 8px 15px;
    }

    /* Coins */

    .coinsContainer {
        max-width: 58rem;
        padding-bottom: 8px;
    }

    thead th p {
        font-size: 0.688rem;
    }

    .symbolCoin {
        font-size: 0.75rem;
    }

    tbody tr {
        font-size: 0.75rem;
    }

    .noMatchesDiv {
        margin: 4rem;
        font-size: 0.938rem;
    }

    /* Change Page */

    .changePageDiv {
        max-width: 52rem;
    }

    .changePageNumbers {
        gap: 14px;
    }

    .actualPage {
        padding: 5px;
        font-size: 0.75rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .changePage {
        padding: 5px;
        font-size: 0.75rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .nextPageDiv a,
    .prevPageDiv a {
        font-size: 0.75rem;
    }
}

/* 1100px */

@media all and (max-width: 1100px) and (min-width: 740px) {

    .mainTitle>h1 {
        font-size: 1.375rem;
        margin-bottom: 5px;
    }

    .marketData {
        max-width: 45rem;
        margin: 0px auto;
    }

    .marketData>div {
        width: 12.8rem;
        padding: 3px 10px;
    }

    .dataMarketData {
        font-size: .95rem;
        margin: 8px 0;
    }

    .percentageMarketData {
        font-size: .68rem;
        padding: 5px;
    }

    .labelMaketData {
        margin-top: 8px;
        margin-left: 3px;
        font-size: .7rem !important;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 48rem;
    }

    #searchCoin {
        font-size: 0.813rem;
        width: 180px;
    }

    .searchIcon {
        background-size: 19px;
    }

    .searchCoinLabel::before {
        margin-bottom: -5px;
    }

    .searchCoinLabel {
        width: 180px;
        font-size: 0.813rem;
    }

    .coinsMenuItem {
        font-size: 0.813rem;
        margin: 6px 15px;
    }

    .coinsTabs {
        margin-bottom: 5px;
    }

    .active {
        margin: 0px;
        padding: 6px 15px;
    }

    /* Coins */

    .coinsDiv {
        margin-top: 25px;
    }

    .coinsContainer {
        max-width: 49rem;
        padding-bottom: 8px;
    }

    thead th p {
        font-size: 0.625rem;
    }

    tr {
        padding: 5px 0;
    }

    .coinNumberDiv {
        padding-left: 0px;
    }

    .volume24Div {
        padding-right: 25px;
    }

    .symbolCoin {
        font-size: 0.688rem;
    }

    .coinsNameDiv img {
        width: 25px;
        height: 25px;
    }

    .change24Div p,
    .change1Div p {
        padding: 5px;
    }

    .dot {
        margin-bottom: 2px;
    }

    tbody tr {
        font-size: 0.688rem;
    }

    .noMatchesDiv {
        margin: 4rem;
        font-size: 0.875rem;
    }

    /* Change Page */

    .changePageDiv {
        max-width: 45rem;
    }

    .changePageNumbers {
        gap: 12px;
    }

    .actualPage {
        padding: 4px;
        font-size: 0.688rem;

    }

    .changePage {
        padding: 4px;
        font-size: 0.688rem;
    }

    .nextPageDiv a,
    .prevPageDiv a {
        font-size: 0.688rem;
    }
}

/* 850 */

@media all and (max-width: 850px) and (min-width: 740px) {

    .mainTitle>h1 {
        font-size: 1.313rem;
        margin-bottom: 0px;
    }

    .marketData {
        max-width: 42rem;
        margin: 0px auto;
    }

    .marketData>div {
        width: 11.8rem;
        padding: 0px 10px;
    }

    .dataMarketData {
        font-size: .90rem;
        margin: 8px 0;
    }

    .percentageMarketData {
        font-size: .64rem;
        padding: 5px;
    }

    .labelMaketData {
        margin-top: 8px;
        font-size: .62rem !important;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 44rem;
    }

    #searchCoin {
        font-size: 0.688rem;
        width: 160px;
    }

    .searchCoinLabel::after {
        margin-top: 3px;
    }

    .searchIcon {
        background-size: 19px;
    }

    .searchCoinLabel::before {
        margin-bottom: -5px;
    }

    .searchCoinLabel {
        width: 160px;
        font-size: 0.688rem;
    }

    .coinsMenuItem {
        font-size: 0.688rem;
        margin: 6px 15px;
    }

    .coinsTabs {
        margin-bottom: 5px;
    }

    .active {
        margin: 0px;
        padding: 6px 15px;
    }

    /* Coins */

    .coinsDiv {
        margin-top: 18px;
    }

    .coinsContainer {
        max-width: 44rem;
        padding-bottom: 0px;
    }

    thead th p {
        font-size: 0.5rem;
    }

    tr {
        padding: 2px 0;
    }

    .volume24Div {
        padding-right: 20px;
    }

    .symbolCoin {
        font-size: 0.575rem;
    }

    .coinsNameDiv img {
        width: 20px;
        height: 20px;
    }

    .change24Div p,
    .change1Div p {
        padding: 3px 5px;
    }

    .dot {
        margin-bottom: 0px;
    }

    tbody tr {
        font-size: 0.575rem;
    }

    .noMatchesDiv {
        margin: 3rem;
        font-size: 0.688rem;
    }

    /* Change Page */

    .changePageDiv {
        max-width: 40rem;
        height: 3rem;
    }

    .changePageNumbers {
        gap: 8px;
    }

    .actualPage {
        padding: 3px;
        font-size: 0.563rem;

    }

    .changePage {
        padding: 3px;
        font-size: 0.563rem;
    }

    .treeDots {
        font-size: 0.563rem;
    }

    .nextPageDiv a,
    .prevPageDiv a {
        font-size: 0.563rem;
    }

    .nextPageDiv i,
    .prevPageDiv i {
        width: 3px;
        height: 3px;
    }
}

/* Resposive Tablet / Phone */

/* 740 */

@media all and (max-width: 740px) {
    .mainTitle {
        text-align: center;
    }

    .mainTitle>h1 {
        font-size: 2.188rem ;
    }


    /* Market Data */

    .marketData {
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        align-items: center;
        gap: 12px;
    }

    .marketData>div:nth-child(1) {
        margin-left: 0%;
    }

    .marketData>div:nth-child(3) {
        margin-right: 0%;
    }

    .marketData>div {
        width: 90%;
        padding: 5px 20px;
        border-radius: 15px;
    }

    .dataMarketData {
        font-size: 1.4rem;
        margin: 12px 0;
    }

    .labelMaketData {
        font-size: 1rem !important;
        margin: 12px 0 0 0;
    }

    .percentageMarketData {
        font-size: 1rem;
    }

    /* Coins Tabs Section */
    .coinsTabsSection {
        max-width: 90vw;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .coinsTabs {
        justify-content: center;
        margin-bottom: 0px;
    }

    .coinsMenu {
        display: flex;
        gap: 55px;
    }

    .coinsMenuItem {
        margin: 10px 15px;
        font-size: 0.938rem;
    }

    .active {
        margin: 0px;
        padding: 10px 15px;
    }


    /* Coins */

    .coinsContainer {
        max-width: 98vw;
        padding-bottom: 15px;
    }

    .coinsDiv {
        min-height: 10rem;
        padding: 5px 0px;
        box-shadow: 0px 0px 30px 10px var(--box-shadow-coins);
    }

    tr {
        padding: 8px 0
    }

    tbody tr {
        font-size: 0.875rem;
    }

    thead tr {
        margin: 0 0 -2px 0;
    }

    thead th p {
        font-size: 0.813rem;
        margin: 3px 0 0 0;
    }

    .coinNumberDiv {
        width: 8%;
        padding-left: 5px;
    }


    .coinsNameDiv {
        width: 45%;
    }

    .coinsNameDiv img {
        width: 33px;
        height: 33px;
    }

    .change24Div {
        justify-content: center;
    }

    .change24Div p,
    .change1Div p {
        padding: 5px 10px 5px 10px;
        /* font-size: 1rem; */
    }


    .priceDiv {
        text-align: right;
        width: 30%;
        padding-right: 20px;
    }

    .noMatchesDiv {
        margin: 6rem 0;
        font-size:1rem;
    }


    /* Change Page */

    .changePageDiv {
        justify-content: center;
        height: 4rem;
        max-width: 90vw;
    }


    .actualPage {
        padding: 8px;
        font-size: 0.938rem;

    }

    .changePage {
        padding: 8px;
        font-size: 0.938rem;
    }

    .treeDots {
        font-size: 0.75rem;
    }

    .changePageDiv {
        max-width: 40rem;
        height: 3rem;
    }

    .changePageNumbers {
        gap: 12px;
    }
}

/* 450 */

@media all and (max-width: 450px) {

    .mainTitle>h1 {
        font-size: 1.75rem;
    }

    /* Market Data */

    .marketData {
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        align-items: center;
        gap: 12px;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .marketData>div:nth-child(1) {
        margin-left: 0%;
    }

    .marketData>div:nth-child(3) {
        margin-right: 0%;
    }

    .marketData>div {
        width: 90%;
        padding: 2px 20px;
        border-radius: 15px;
    }

    .dataMarketData {
        font-size: 1.2rem;
        margin: 12px 0;
    }

    .labelMaketData {
        font-size: .9rem !important;
        margin: 12px 0 0 0;
    }

    .percentageMarketData {
        font-size: .9rem;
    }

    /* Coins Tabs Section */

    .coinsMenuItem {
        margin: 7px 15px;
        font-size: .9rem;
    }

    .active {
        margin: 0px;
        padding: 7px 15px;
    }


    /* Coins */

    .coinsContainer {
        max-width: 98vw;
        padding-bottom: 15px;
    }

    .coinsDiv {
        min-height: 10rem;
        margin-top: 20px;
        padding: 5px 0px;
    }

    tr {
        padding: 8px 0
    }

    tbody tr {
        font-size: .72rem;
    }

    thead tr {
        margin: 0 0 -5px 0;
    }

    thead th p {
        font-size: .68rem;
        margin: 3px 0 0 0;
    }

    .coinNumberDiv {
        width: 10%;
        padding-left: 5px;
    }


    .coinsNameDiv {
        width: 45%;
        gap: 10px;
    }

    .coinsNameDiv img {
        width: 28px;
        height: 28px;
    }

    .change24Div {
        justify-content: center;
        width: 25%;
    }

    .change24Div p,
    .change1Div p {
        padding: 4px 8px;
        /* font-size: 1rem; */
    }

    .noMatchesDiv {
        margin: 5rem 0;
        font-size: 1rem;
    }

    /* Change Page */

    .changePageDiv {
        justify-content: center;
        height: 4rem;
        max-width: 90vw;
    }

    .actualPage {
        padding: 5px;
        font-size: .8rem;
        align-items: center;
        display:flex;
        justify-content: center;
    }
    
    .changePage {
        padding: 8px;
        font-size: .8rem;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    .treeDots {
        font-size: .8rem;
    }

    .changePageDiv {
        max-width: 40rem;
        height: 3rem;
    }

    .changePageNumbers {
        gap: 12px;
    }
}

/* 350 */

@media all and (max-width: 350px) {

    .mainTitle>h1 {
        font-size: 1.563rem;
    }

    /* Market Data */

    .marketData {
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 20px;
        max-width: 90vw;
    }


    .dataMarketData {
        font-size: 1.15rem;
        margin: 12px 0;
    }

    .labelMaketData {
        font-size: .8rem !important;
        margin: 12px 0 0 0;
    }

    .percentageMarketData {
        font-size: .78rem;
    }

    /* Coins Tabs Section */

    .coinsMenu{
        gap: 40px;
    }
    .coinsMenuItem {
        margin: 5px 15px;
        font-size: .75rem;
    }

    .active {
        margin: 0px;
        padding: 5px 15px;
    }


    /* Coins */

    .coinsContainer {
        max-width: 98vw;
        padding-bottom: 10px;
    }

    .coinsDiv {
        min-height: 10rem;
        margin-top: 20px;
        padding: 0px 0px;
    }

    tr {
        padding: 6px 0
    }

    tbody tr {
        font-size: .68rem;
    }

    thead tr {
        margin: 0 0 -5px 0;
    }

    thead th p {
        font-size: .65rem;
        margin: 3px 0 0 0;
    }

    .coinNumberDiv {
        width: 10%;
        padding-left: 5px;
    }


    .coinsNameDiv {
        width: 45%;
        gap: 10px;
    }

    .coinsNameDiv img {
        width: 25px;
        height: 25px;
    }

    .change24Div {
        justify-content: center;
        width: 30%;
    }

    .change24Div p,
    .change1Div p {
        padding: 4px 5px;
    }

    .noMatchesDiv {
        margin: 5rem 0rem;
        font-size: .95rem;
    }


    /* Change Page */

    .changePageDiv {
        justify-content: center;
        height: 4rem;
        max-width: 90vw;
    }

    .actualPage {
        padding: 4px;
        font-size: .75rem;
        align-items: center;
        display:flex;
        justify-content: center;
    }
    
    .changePage {
        padding: 4px;
        font-size: .75rem;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    .treeDots {
        font-size: .75rem;
    }

    .changePageDiv {
        max-width: 40rem;
        height: 3rem;
    }

    .changePageNumbers {
        gap: 12px;
    }
}