.navbar {
    background-color: var(--navBar-background);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 999;
    box-shadow: 0px 0px 30px 0px var(--box-shadow-coins);
}

.navLeftSide,
.navRightSide {
    display: flex;
}

/* NavBar - Left Side  */

.logoDiv {
    opacity: 0.9;
    transition: all ease .2s;
}

.logoDiv:hover {
    opacity: 2;
}

.logo {
    margin: 0 0 0 25px;
    background-image: var(--menu-logo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 220px;
    height: 55px;
    width: 190px;
    overflow: hidden;
    padding: 5px 15px;
}

.logo a {
    padding: 20px 0 20px 300px;
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 5px;
    margin: 0;
}

.mainMenu>li {
    list-style-type: none;
    margin: 0 10px;

}

/* Here we applyths styles to the normal items. And also to the login button from the right side */
.mainMenu>li a,
.loginButton {
    text-decoration: none;
    color: var(--menu-item);
    font-weight: 600;
    font-size: 15px;
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
}

.mainMenu>li a:hover,
.loginButton:hover {
    transition: all 0.3s ease-in-out;
    color: var(--white);
    font-size: 15px;
    position: relative;
    display: block;
}

.normalHoverItems::before,
.loginButton::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: -23px;
    left: 0;
    width: 100%;
    height: 3px;
    /* background-color: rgb(208, 129, 1); */
    background-color: var(--cyan);
    transform: scaleX(0);

    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.normalHoverItems:hover::before,
.loginButton:hover::before {
    transform: scaleX(1);
}

.navCryptocurrencies {
    background-color: var(--items-background);
    padding: 7px 12px;
    border-radius: 15px;
}

.navCryptocurrencies:hover {
    /* background-color: rgb(226, 140, 1); */
    background-color: var(--cyan);

}


/* NavBar - Right Side */

.selectedCurrency {
    align-items: center;
    display: flex;
    height: 65px;
}


.currencyDiv {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    display: flex;
    background-color: var(--navBar-background);
    transition: all ease-in .1s;
}

.currencyDivActive {
    background-color: var(--active-currency-background);
}

.currencyDiv:hover {
    transition: all ease-in .1s;
    background-color: var(--currency-item-background-hover);
}

.currencyDiv img {
    width: 20px;
    height: 20px;
    padding: 0 6px 0 0;
}

.currencyDiv p {
    margin: 0;
    color: var(--white);
    font-weight: 500;
}

.currencyOptions {
    margin-left: -10px;
    position: absolute;
    border-radius: 0 0 10px 10px;
    background-color: var(--navBar-background);
    padding: 10px;
    z-index: 501;
}

.currencyDiv i {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 6px 0 0;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.iUSD {
    background-image: url(../resourses/USD.png);
}

.iCAD {
    background-image: url(../resourses/CAD.png);
}

.iEUR {
    background-image: url(../resourses/EUR.png);
}

.iGBP {
    background-image: url(../resourses/GBP.png);
}


.divition {
    content: "";
    background-color: var(--currency-item-background-hover);
    height: 45px;
    border-radius: 2px;
    margin: auto 30px;
    width: 2px;

}

.loginButtons {
    display: flex;
    gap: 23px;
    align-items: center;

}

.signupButton {
    text-decoration: none;
    color: var(--menu-item);
    transition: all 0.3s ease-in-out;
    background-color: var(--items-background);
    padding: 7px 12px;
    border-radius: 15px;
    font-weight: 600;
}

.signupButton:hover {
    color: var(--white);
    transition: all 0.3s ease-in-out;
    /* background-color: rgb(226, 140, 1); */
    background-color: var(--cyan);
}

.settings {
    display: flex;
    align-items: center;
    margin: 0px 40px 0 25px;
}

.settingsButton {
    background-image: var(--menu-image);
    background-position: center center;
    background-size: 22px;
    color: rebeccapurple;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all ease-in .2s;
    opacity: 0.7;
}

.settingsButton:hover {
    transition: all ease-in .2s;
    /* background-image: url(../resourses/dots-menu-hover.png); */
    opacity: 1;
}

.settingsButton a {
    padding: 20px 0 20px 200px;
}



/* Menu settings */
.backgroundMenuSettings {
    background-color: rgba(0, 0, 0, 0.318);
    position: absolute;
    height: 100vh;
    top: 65px;
    left: 0;
    width: calc(100vw);
}

.menuSettings {
    position: absolute;
    /* margin-left: calc(100vw - 400px); */
    z-index: 500;
    background-color: var(--navBar-settings-background);
    /* background-color: rgb(255, 255, 255); */
    color: var(--white);
    width: 400px;
    height: 100vh;
    right: 0;
    top: 65px;
    font-size: 20px;
    padding-top: 30px;
}


.themeDiv,
.languageDiv,
.whatchlistDiv,
.signoutDiv,
.profileDiv {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.themeDiv,
.languageDiv,
.whatchlistDiv {
    margin: 20px 0;

}

.languageDiv,
.settingsTitleDiv,
.themeDiv,
.profileDiv,
.whatchlistDiv {
    margin-left: 30px;
}

.signoutDiv {
    margin-left: 20px;
}





/* hr */
.menuSettings hr {
    width: 100%;
    border: 1px solid var(--currency-item-background-hover);

}

/* Settings title div */
.settingsTitleDiv {
    /* background-color: #292929; */
    width: 70%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.settingsTitleDiv p {
    margin: 0;
    font-size: 24px;
}

/* Profile div */

.profileDiv {
    opacity: .6;
    transition: all ease .2s
}

.profileDiv:hover {
    opacity: 1;
}

.profileDiv a {
    text-decoration: none;
    color: var(--white);
}


/* Theme div */
.themeDiv>div {
    align-items: center;
    display: flex;
}

.checkboxTheme {
    opacity: 0;
    position: absolute;
}

.labelTheme {
    width: 45px;
    height: 20px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--language-div-background);
    position: relative;
    cursor: pointer;
}

.ballTheme {
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -1px;
    transition: transform .2s linear;

    background-size: 40px;
    background-image: url(../resourses/moon.svg);
    transform: translateX(25px) rotate(180deg);
}


.checkboxTheme:checked+.labelTheme .ballTheme {
    background-image: url(../resourses/sun.svg);
    background-size: 43px;
    transform: none;

}

/* Language div */
.actualLanguageDiv {
    display: flex;
    gap: 10px;
    background-color: var(--language-div-background);
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px;
    width: 105px;
    cursor: pointer;
}

.actualLanguageDivOpen {
    border-radius: 10px 10px 0 0;

}

.actualLanguageDiv i {
    color: var(--white);
    width: 10px;
    height: 10px;
    margin: 5px;
}

.actualLanguage {
    margin: 0;
}

.changeLanguageDiv {
    background-color: var(--language-div-background);
    padding: 10px 10px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    width: 105px;
    z-index: 502;
}

.changeLanguageDiv>div {
    padding: 8px 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all ease .2s;
    display: flex;
    color: var(--menu-item);
}

.changeLanguageDiv>div:hover {
    color: var(--white);
    background-color: var(--language-item-background-hover);
}

.changeLanguageDiv>div p {
    margin: 0;
}


/* Watchlist div */

.whatchlistDiv>i,
.profileDiv i {
    color: var(--white);
    width: 8px;
    height: 8px;
    margin-left: 15px;
}

.whatchlistDiv {
    justify-content: space-between;
    opacity: .6;
    transition: all ease .2s;
    cursor: pointer;
    text-decoration: none;
    color: var(--white)
}

.whatchlistDiv:hover {
    opacity: 1;
}

.whatchlistDiv div {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.whatchlistDiv a {
    text-decoration: none;
    color: var(--white);
}

.whatchlistDiv>div>i {
    width: 25px;
    margin: 0 12px 0 10px;
    color: var(--white);
}


/* Sign out div */
.signoutDiv {
    opacity: .8;
    justify-content: start;
    font-weight: 500;
    transition: all ease .3s;
    cursor: pointer;
}

.signoutDiv:hover {
    opacity: 1;
}

.signoutDiv i {
    width: 35px;
    margin: 0 3px 0 10px;
}


.imgProfileLink {
    overflow: hidden;
    border: 3px solid var(--cyan);
    color: var(--cyan);
    cursor: pointer;
    font-size: 34px;
    background-color: var(--items-background);
    /* padding: 10px; */
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.imgProfileLink i {
    font-size: 17px;
}

.imgProfileDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.imgProfileLink img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}