.signUpSection {
    width: 100%;
    display: flex;
    max-width: 70rem;
    padding-top: 20vh;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.titleFormDiv {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.titleForm {
    margin: 0;
    font-size: 32px;
}

.formRegister {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    background-color: var(--chart-background);
    box-shadow: 0px 0px 20px 0px var(--box-shadow-coins);
    border-radius: 15px;
    display: flex;
    padding: 20px 0 40px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formRegister>div {
    display: block;
    color: var(--signature-color);
    width: 80%;

}

.formRegister>div>input {
    display: block;
    background-color: var(--input-background);
    border: 2px solid var(--input-background);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 15px;
    color: var(--signature-color);
    width: 100%;
    transition: all ease .3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 2px solid var(--input-background);
    -webkit-text-fill-color: var(--signature-color);
    -webkit-back: var(--signature-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--input-background) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.wrongData {
    border: 2px solid rgba(249, 0, 0, 0.758) !important;
}

.formRegister>div>input:focus-visible {
    border: 2px solid var(--cyan);
    outline: none;
}

.formRegister>div>label {
    display: block;
    margin: 30px 0 10px 0;
    padding: 0 20px;
    color: var(--signature-color);
    width: 100%;
    font-weight: 600;

}

.submitButton {
    background-color: var(--language-div-background);
    color: var(--menu-item) !important;
    transition: all ease .3s;
    padding: 10px 0px;
    border: 0px;
    width: 40%;
    margin-top: 50px;
    border-radius: 17px;
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.submitButton:hover {
    color: var(--white) !important;
    background-color: var(--cyan);
}

.resetPasswordButton {
    background-color: var(--language-div-background);
    color: var(--menu-item) !important;
    transition: all ease .3s;
    padding: 12px 0px;
    border: 0px;
    width: 80%;
    margin-top: 25px;
    border-radius: 15px;
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.resetPasswordButton:hover {
    color: var(--white) !important;
    background-color: var(--cyan);
}

.changeLogin,
.changeSignIn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: var(--day-text-not-active);
    font-size: 15px;
    font-weight: 500;
}

.changeLogin a,
.changeSignIn a {
    color: var(--cyan);
    opacity: 0.8;
    text-decoration: none;
    font-size: 16px;
    transition: all ease 0.3s;
}

.changeLogin a:hover,
.changeSignIn a:hover {
    opacity: 1;
    color: var(--hover-chage-register);
}

.forgotPasswordDiv {
    margin-top: 40px;
    text-align: center;
}

.forgotPasswordDiv a {
    color: var(--less-important-text);
    text-decoration: none;
    transition: all ease .3s;
    font-weight: 500;
}

.forgotPasswordDiv a:hover {
    color: var(--white);
}

.resetPasswordLogIn {
    margin-top: 40px;
    text-align: center;
}

.resetPasswordLogIn a {
    color: var(--cyan);
    border: 2px solid var(--cyan);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all ease .3s;
    font-weight: 600;
}

.resetPasswordLogIn a:hover {
    border: 2px solid var(--hover-chage-register);
    color: var(--hover-chage-register);
}

.errorMessage {
    margin-bottom: 0px;
    color: #ff4f4f;
    margin-bottom: -25px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
}

.successMessage {
    margin-bottom: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
}


/* Profile */

.profileSection {
    width: 100%;
    display: flex;
    max-width: 70rem;
    padding-top: 10vh;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.profilePageDiv{
    display: flex;
}
.leftSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 50px;
}
.leftSide h1 {
    font-size: 35px;
    margin-bottom: 30px;
}
.leftSide a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    padding: 15px 20px;
    margin: 8px 0;
    font-size: 18px;
    border-radius: 15px;
    transition: all ease .3s;
}
.leftSide a:hover {
    background-color: rgba(51, 51, 51, 0.156);
    color: rgb(242, 242, 242);
    
}
.leftSide a i {
    margin-right: 15px;
    width: 20px;
    text-align: center;
    height: 20px;
}
.leftSide .activePageProfile {
    background-color: rgba(51, 51, 51, 0.629);
    color: rgb(255, 255, 255);
}
.leftSide .activePageProfile:hover {
    background-color: rgba(51, 51, 51, 0.629);
    color: rgb(255, 255, 255);
}




.rightSide {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.profileInfoDiv{
    display: flex;
    margin-top: 40px;
    gap: 30px;
}
.profileInfoDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.changePic{
    position: absolute;
    margin-left: 71px;
    margin-top: -38px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    background-color: var(--cyan);
    color: var(--white);
    border: 3px solid black;
}

#changePic{
    visibility: hidden;
    display: none;
}

.photoProfile{
    overflow: hidden;
    border: 3px solid var(--cyan);
    color: var(--cyan);
    cursor: pointer;
    font-size: 34px;
    background-color: var(--items-background);
    /* padding: 10px; */
    margin-right: 8px;
    border-radius: 50%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.changeUsernameForm{
    display: flex;
    margin-top: 50px;
    align-items: flex-end;
}
.changeEmailForm{
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
}
.changeUsernameForm div, .changeEmailForm div{
    width: 70%;
}

.changeUsernameForm input, .changeEmailForm input{
    display: block;
    background-color: var(--input-background);
    border: 2px solid var(--input-background);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 14px 15px;
    color: var(--signature-color);
    width: 100%;
    transition: all ease .3s;
}
.changeUsernameForm label, .changeEmailForm label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 5px;
    margin-bottom: 5px;
    
}
.changeUsernameForm button, .changeEmailForm button{
    height: max-content;
    padding: 14px 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgba(128, 128, 128, 0.518);
    border: 0px;
    transition: all ease .2s ;
    border-radius: 12px;
}
.changeUsernameForm button:hover, .changeEmailForm button:hover{
    background-color: rgba(191, 191, 191, 0.518);
    
}

.usernameP{
    font-weight: 600;
    color: var(--white);
    font-size: 20px;
    margin-bottom: 5px;
}
.emailP{
    font-weight: 500;
    color: var(--less-important-text);
    font-size: 17px;
    margin-top: 10px;
}

.deletePictureDiv{
    margin-top: 50px;
}
.deletePictureDiv button{
    border: 0px;
    font-weight: 600;
    background-color: transparent;
    font-size: 14px;
    color: var(--white)!important;
    opacity: 0.6;
    padding: 5px 12px;
    cursor: pointer;
    transition: all ease .3s;
}
.deletePictureDiv i{
    font-size: 12px;
    background-color: rgba(222, 0, 0, 0.88);
    font-weight: 600;
    border-radius: 50px;
    padding: 8px;
    margin-right: 5px;
    color: var(--white)!important;
    transition: all ease .3s;
}
.deletePictureDiv button:hover{
    opacity: 1;
}
/* .deletePictureDiv button{
    background-color: rgba(222, 0, 0, 0.509);
    border: 0px;
    font-weight: 600;
    font-size: 12px;
    color: var(--white)!important;
    border-radius: 20px;
    padding: 5px 12px;
    transition: all ease .3s;
}
.deletePictureDiv button i{
    margin-right: 5px;
    color: var(--white)!important;
}
.deletePictureDiv button:hover{
    background-color: rgba(222, 0, 0, 0.88);
} */