main {
    background-color: var(--main-background);
    color: var(--white);
}
/* Main Info Section */
.mainInfoSection{
    padding-top: 100px;
    display: flex;
    max-width: 76rem;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}
.rank{
    background-color: var(--rank-background);
    box-shadow: 0 0 20px 2px var(--chart-boxshadow);
    display: inline-block;
    padding: 3px 8px;
    color: var(--black);
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.coinInfoDiv{
    display: flex;
    flex-direction: column;
}
.coinNameDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}
.coinNameDiv img{
    width: 50px;
    height: 50px;
}
.coinPriceDiv{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price{ 
    font-size: 33px;
    margin: 0;
    font-weight: bold;
}
.coinBtcPriceDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.priceBTC{
    color: var(--less-important-text);
}
.pricePercentage{ 
    display: inline-block;
    padding: 4px 8px;
    border-radius: 10px;
}
.coinNameDiv .dot{
    margin: 0 12px 4px 10px ;
}
.coinNameDiv .symbol{
    font-size: 20px;
    font-weight: 500;
    color: var(--less-important-text);
}


.fa-regular{
    color: var(--watchlist-text);
}
.fa-solid{
    color: var(--cyan);
}
.coinActionsDiv div{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.watchlistCheckDiv{
    margin-top: 55px;
}
.watchlistCheckDiv>input:checked+label{
    color: var(--watchlist-text);
}
.watchlistCheckDiv label{
    padding: 12px;
    border-radius: 25px;
    font-weight: 600;
    color: var(--white);
    font-size: 18px;
    transition: all ease .6s;
    background-color: var(--watchlist-background);
}
.watchlistCheckDiv label:hover{
    background-color: var(--active-currency-background);
}

#starInput{
    visibility: hidden;
}
#watchlistStar{
    margin-right: 5px;
    font-size: 20px;
}



/* Chart Section */

.chartSection {
    display: flex;
    flex-direction: column;
    max-width: 76rem;
    width: 100%;
    margin: 0px auto;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px 0px;
}
/* Chart options */
.chartOptionsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.formatChartDiv{
    display: flex;
    align-items: center;
}
.formatChartItem {
    color: var(--menu-item);
    text-decoration: none;
    display: block;
    position: relative;
    transition: all ease .4s;
    font-weight: 600;
    margin: 10px 15px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
}
.activeFormat {
    background-color: var(--chart-format-background);
    color: var(--white);
}
.formatChartDiv :not(.activeFormat)::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--menu-item);
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.formatChartDiv :not(.activeFormat):hover::before {
    background-color: var(--cyan);
    transform: scaleX(1.1);
}

.formatChartDiv :not(.activeFormat):hover {
    color: var(--white);
}


.chartOptionsDiv h2{
    font-size: 30px;
}
.chartOptionsDiv h2 span{
    font-size: 28px;
    font-weight: 500;
    color: var(--less-important-text);
}
.chartOptionsDiv h2 span .dot{
    background-color: var(--menu-item);
    margin-bottom: 6px;
    width: 7px;
    height: 7px;
    margin-right: 14px;
}

/* Chart */

.chartDiv{
    box-shadow: 0px 0px 20px 0px var(--chart-boxshadow) ;
    border-radius: 20px;
    min-height: 30rem;
    background-color: var(--chart-background);
    margin-top: 35px;
    width: 100%;
}
.chartDiv canvas{
    width: 100%;
}
.chart {
    width: 90%;
}


/* Chart days */

.daysButtonsDiv{
    border-radius: 0 0 20px 20px;
    margin: 10px auto;
    /* background-color: rgb(10, 10, 10); */
    width: 100%;
    /* text-align: center; */
}
.daysButtonsDiv button{
    background-color: transparent;
    outline: none;
    border: 0px;
    font-size: 17px;
    color: var(--day-text-not-active);
    font-weight: 600;
    padding: 8px 10px;
    margin: 8px 10px;
    transition: all ease .4s;
    border-radius: 15px;
    
}
.daysButtonsDiv button:hover{
    background-color: transparent;
    outline: none;
    border: 0px;
    color: var(--white);
    font-weight: bold;
}
.dayActive{
    background-color: var(--items-background)!important;
    color: var(--white)!important;
}


/* Loading page */


.loadingPageDiv{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.loadingPage{
    margin: 0;
}

/* Extra Info Section */

.extraInfoSection{
    display: flex;
    max-width: 76rem;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 0px;
    gap: 25px;
}
.extraInfoSection div{
    display: flex;
    width: 100%;
    background-color: var(--chart-background);
    box-shadow: 0px 0px 20px 0px var(--info-boxshadow) ;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.aboutSection{
    padding-bottom: 80px;
    max-width: 76rem;
    width: 100%;
    margin: 40px auto 0 auto;
}
.aboutDiv{
    border-radius: 20px;
    gap: 25px;
    background-color: var(--chart-background);
    box-shadow: 0px 0px 20px 0px var(--info-boxshadow) ;
    border-radius: 20px;
    padding: 40px 40px 10px 40px;
}
.aboutSection h3{
    font-size: 23px;
    margin: 0 0 35px 0;
}
.aboutDiv div{
    padding-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
    color: var(--day-text-not-active);
}
.aboutDiv div a{
    text-decoration: none;
    color: var(--day-text-not-active);
}