body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
main {
    background-color: var(--main-background);
    color: var(--white);
    min-height: 100vh;
}
[data-theme="dark"] {
    --menu-image: url(resourses/dots-menu.svg);
    --white: white;
    --cyan: rgb(7, 185, 170);
    --navBar-background: rgb(15, 15, 15);
    --navBar-settings-background: rgb(29, 29, 29);
    --menu-item: rgb(211, 211, 211);
    --items-background: rgb(40, 40, 40);
    --language-div-background: rgb(47, 47, 47);
    --language-item-background-hover: rgb(71, 71, 71);
    --currency-item-background-hover: rgb(37, 37, 37);
    --active-currency-background: rgb(30, 30, 30);

    --h1-color: white;

    --marketData-background: rgb(3, 3, 3);
    --order-arrows: url(resourses/orderArrows.svg);
    --search-icon-src: url(resourses/search-icon.svg);
    --main-background: rgb(0, 0, 0);
    --coins-div-background: rgb(1, 1, 1);
    --box-shadow-coins: rgba(80, 80, 80, 0.2);
    --labels-coins: rgb(146, 146, 146);
    --hover-coin: rgb(15, 15, 15);
    --red-color: rgb(255, 77, 77);
    --red-background-color: rgba(254, 38, 38, 0.216);
    --green-color: rgb(92, 228, 65);
    --green-background-color: rgba(52, 199, 89, 0.102);
    --lightgreen-background-color: rgba(50, 215, 75, 0.1);
    --grey-background-color: rgba(47, 47, 47, 0.269);

    /* ShowCoin */
    --black: rgb(0, 0, 0);
    --rank-background: rgba(179, 179, 179, 0.569);
    --chart-background: rgb(5, 5, 5);

    --info-boxshadow: rgba(23, 23, 23, 0);
    --chart-boxshadow: rgba(23, 23, 23, 0.825);
    --less-important-text: rgb(171, 171, 171);
    --watchlist-text: rgb(148, 148, 148);
    --watchlist-background: rgba(53, 53, 53, 0.156);
    --chart-format-background: rgb(15, 15, 15);
    --day-text-not-active: rgb(146, 146, 146);

    /* Footer */
    --signature-background: rgb(7, 7, 7);
    --signature-color: rgb(199, 199, 199);

    /* Register */
    --input-background: rgb(15, 15, 15);
    --hover-chage-register: rgb(130, 199, 200);
}

[data-theme="light"] {
    --menu-image: url(resourses/dots-menu-black.svg);
    --order-arrows: url(resourses/orderArrows.svg);
    --white: rgb(0, 0, 0);
    --cyan: rgb(255, 147, 50);
    --navBar-background: rgb(236, 236, 236);
    --navBar-settings-background: rgb(222, 222, 222);
    --menu-item: rgb(53, 53, 53);
    --items-background: rgb(220, 220, 220);
    --language-div-background: rgb(208, 208, 208);
    --language-item-background-hover: rgb(184, 184, 184);
    --currency-item-background-hover: rgb(218, 218, 218);
    --active-currency-background: rgb(225, 225, 225);

    --h1-color: rgb(46, 46, 46);

    --marketData-background: rgb(236, 236, 236);
    --search-icon-src: url(resourses/search-icon-black.svg);
    --order-arrows: url(resourses/orderArrows-black.svg);
    --main-background: rgb(233, 233, 233);
    --coins-div-background: rgb(240, 240, 240);
    --box-shadow-coins: rgba(122, 122, 122, 0.2);
    --labels-coins: rgb(135, 135, 135);
    --hover-coin: rgb(215, 215, 215);
    --red-color: rgb(250, 29, 29);
    --red-background-color: rgba(205, 26, 26, 0.216);
    --green-color: rgb(16, 149, 38);
    --green-background-color: rgba(37, 204, 79, 0.218);
    --lightgreen-background-color: rgba(71, 251, 116, 0.361);
    --grey-background-color: rgba(155, 155, 155, 0.245);


    /* ShowCoin */
    --balck: rgb(255, 255, 255);
    --rank-background: rgba(76, 76, 76, 0.227);
    --chart-background: rgb(236, 236, 236);
    --info-boxshadow: rgba(185, 185, 185, 0.39);
    --chart-boxshadow: rgba(185, 185, 185, 0.518);
    --less-important-text: rgb(81, 81, 81);
    --watchlist-text: rgb(41, 41, 41);
    --watchlist-background: rgba(155, 155, 155, 0.156);
    --chart-format-background: rgba(155, 155, 155, 0.194);
    --day-text-not-active: rgb(75, 75, 75);

    
    /* Footer */
    --signature-background: rgb(210, 210, 210);
    --signature-color: rgb(41, 41, 41);

    /* Register */
    --input-background: rgb(215, 215, 215);
    --hover-chage-register: rgb(255, 129, 19);

}

::-webkit-scrollbar {
    width: .3vw;
    transition: all ease .3s;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(106, 106, 106);
    transition: all ease .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(131, 131, 131);
}

::-webkit-scrollbar-track {
    background-color: rgb(22, 22, 22);
    width: 10px;
}

/* Tools */

.dot {
    display: inline-block;
    content: " ";
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: var(--labels-coins);
    margin: 0 5px 3px 10px;
}

.red {
    color: var(--red-color);
    background-color: var(--red-background-color);
}

.green {
    color: var(--green-color);
    background-color: var(--green-background-color);
}

.lightgreen {
    background-color: var(--lightgreen-background-color);
}

.arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    display: inline-block;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: all ease .2s;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: all ease .2s;
}